@import "../../../mixins.scss";

.heroBanner {
    width: 100%;
    height: 450px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    position: relative;
    @include md {
        height: 700px;
    }
    .backdrop-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        overflow: hidden;
        .lazy-load-image-background {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
    .opacity-layer {
        width: 100%;
        height: 250px;
        background: linear-gradient(
            180deg,
            rgba(4, 21, 45, 0) 0%,
            #04152d 79.17%
        );
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .heroBannerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        text-align: center;
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        .title {
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 10px;
            @include md {
                margin-bottom: 0;
                font-size: 90px;
            }
            opacity: 2; 
            animation: silence 7s linear infinite;
        }
        @keyframes silence
        {
           0%{ 
           opacity: 0;
        }
           50%{
        opacity: 1;
        }
           100%{
        opacity: 0;
        }

}
        .subTitle {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 40px;
            @include md {
                font-size: 24px;
            }
        }
        .searchInput {
            display: flex;
            align-items: center;
            width: 100%;
            margin-left: 110px;
            input {
                width: calc(100% - 100px);
                height: 30px;
                background-color: white;
                outline: 0;
                border: 0;
                border-radius: 30px;
                padding: 0 15px;
                font-size: 14px;
                @include md {
                    width: calc(100% - 150px);
                    height: 40px;
                    font-size: 20px;
                    padding: 0 30px;
                }
            }
            
        }button {
            width:70px;
            height: 30px;
            margin-top: 10px;
            margin-right: 10px;
            background: rgb(66, 220, 220);
            color: rgb(16, 8, 8);
            outline: 0;
            border: 10;
            border-radius: 30px;
            font-size: 16px;
            cursor: pointer;
            @include md {
                width: 110px;
                height: 40px;
                font-size: 18px;
            }
        }
    }
}
